.contacto{
        background-color: $primary_color;
        height: 90px;
        text-align: center;
        font-size: 30px;
        a{
            color: $secondary_color;
        }

}

.new{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
button {
    background-color: $primary_color;
    color: $secondary_color;
    padding: 4px;
    font-size: 15px;
}
.new:hover a:hover {
    color: $terciary_color;
    font-size: 32px;
}


