
$primary_color: #000;
$secondary_color: white;
$terciary_color:darkgray;
$four_color:red;
$five_color:#1b1b18;
$six_color:lightgray;
$soft_color1:rgba(255, 255, 255, 0.87);
$soft2_color:rgb(196, 196, 196);
$body_color:rgb(233, 232, 230);