*{
    margin: 0;
    padding: 0;
    font-family:"poppins";
}
body{
    height: 1080px;
    background-color: $body_color;
}
a{
    text-decoration: none;
    color: $primary_color;
}

h2{
    margin-top: 5px;
    margin-left: 15px;
}